:root {
    /*LIGHT THEME*/
    --background-light: #e6e6e9;

    --neo-shadow-light:rgba(255, 255, 255, .4);
    --neo-shadow-inset-light: rgba(70, 70, 70, .22);

    --side-card-light: #9dd5f1;
    

    /*DARK THEME*/
    --background-dark: #0a0a1b;

    --neo-shadow-dark: rgba(0, 0, 0, .4);
    --neo-shadow-inset-dark: rgba(0, 0, 0, .22);

    --side-card-dark: var(--purple-color);


    /*GENERAL COLORS*/
    --purple-color: rgb(108, 89, 218);
    --pink-color: rgb(226, 79, 170);
    --light-color: #d6d3d3;
    --light-gray-color: #807d7d;

    --button-height: 35px;
    --menu-card-size: 120px;
    --transition-duration: 400ms;
}

*, 
::before,
::after {
    box-sizing: border-box;
}

::selection {
    color: black;
    background: rgba(108, 89, 218, .5);
}

body {    
    font-size: .875rem;
    font-family: 'Hind', sans-serif !important;
    background-color: var(--background-light) !important;
}

section {
    display: flex!important;
    height: 100vh;
    position: relative;
}

aside {
    flex: .75;
    margin: 1rem 0 1rem 1rem;
    border-radius: 1rem;
    background: var(--side-card-light);
}

main {
    flex: 2;
}

.text--purple {
    color: var(--purple-color);
}

.text--gray {
    color: var(--light-gray-color);
}

.text--pink {
    color: var(--pink-color);
}

.hero {
    width: 90%;
    height: 90%;
    max-width: 1800px;
    max-height: 90%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.hero__header {
    height: 10%;
    display: flex;
    align-items: center;
}

.hero__header--left {
    background: brown;
}

.hero__header--right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.neo__button--round {
    cursor: pointer;
    outline: none;
    border: none !important;
    background: var(--background-light)!important; 
    border-radius: 3rem !important;
    box-shadow: 
        -7px -7px 15px var(--neo-shadow-light),
        7px 7px 15px var(--neo-shadow-inset-light);
    transition: var(--transition-duration);
}

.neo__button--round:hover,
.neo__button--round:focus {
    color: var(--light-gray-color);      
    box-shadow: 
        1px 1px 15px var(--neo-shadow-light), 
        7px 7px 15px var(--neo-shadow-inset-light), 
        inset -2px -2px 2px var(--neo-shadow-light), 
        inset 2px 0px 8px 4px var(--neo-shadow-inset-light) !important;
}

.hero__header-navigation {
    width: 15%;
}

.hero__header-search {
    position: relative;
    display: flex;
    align-items: center;
    width: 40%;
}

.hero__header-menu {
    width: 20%;
    display: flex;
    align-items: center;
}

.neo__search-field {
    color: var(--light-gray-color);
    border-radius: 2rem !important;
    border: none !important;
    background: var(--background-light)!important;
    box-shadow: 
        1px 1px 15px var(--neo-shadow-light), 
        7px 7px 15px var(--neo-shadow-inset-light), 
        inset -2px -2px 2px var(--neo-shadow-light), 
        inset 2px 0px 8px 4px var(--neo-shadow-inset-light);
}

.neo__search-icon {
    color: var(--light-gray-color);
    position: absolute;
    right: 1rem;
}

.neo__button-menu {
    cursor: pointer;
    outline: none;
    border: none !important;
    color: var(--light-gray-color);
    background: var(--background-light);
    box-shadow: 
        -7px -7px 15px var(--neo-shadow-light),
        7px 7px 15px var(--neo-shadow-inset-light);
    transition: var(--transition-duration);
}

.hero__body {
    height: 90%;
    display: flex;
}

.hero__header--left,
.hero__body--left {
    flex: 1;
}

.hero__header--right{
    flex: 2;
}

.hero__body--middle {
   padding: 0 4rem;
   flex: 4;
}

.hero__body-title {
    font-weight: 700;
}

.hero__body-description {
    font-size: .95rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.hero__body-money {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.hero__money-text {
    margin-bottom: unset !important;
    font-weight: 600;
}

.hero__money-button {
    height: var(--button-height);
    flex-direction: row !important;
    border-radius: 3rem !important;
    margin-left: 2rem;
    padding-left: calc(var(--button-height) / 5) !important;
}

.hero__money-button--icon {
    height: calc(var(--button-height) - 10px);
    width: calc(var(--button-height) - 10px);
    padding: .2rem;
    border-radius: 50%;
    font-size: .8rem;
    background: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__money-button--text {
    font-size: .87rem;
    margin-left: .35rem;
}

.hero__body-header {
    height: calc(var(--button-height) + 10px);
    display: flex;
}

.hero__body-header .neo__menu-item {
    flex: 1;
    color: var(--light-gray-color);
    border-radius: unset;
}

.hero__body-header .neo__menu-item:first-of-type {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.hero__body-header .neo__menu-item:last-of-type {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.hero__body--right {
    flex: 1;
}

.hero__body--right .neo-card {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.neo-card {
    display: flex;
    outline: none;
    height: 100%;
    padding: 1.5rem 1rem;
    justify-content: space-evenly;
    background: var(--background-light);
    position: relative;
    border-radius: 1rem;
    box-shadow: 
        -7px -7px 15px var(--neo-shadow-light),
        7px 7px 15px var(--neo-shadow-inset-light);
}

.neo-card .neo__button--round {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}

.neo-card__inner {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin: auto;
    background: var(--purple-color);
    display: flex;
    justify-content: center;
    position: relative;
}

.neo-card__inner img {
    position: absolute;
    margin-top: 30%;
    width: 50%;
}

.neo__menu-item {
    cursor: pointer;
    outline: none;
    border: none !important;
    border-radius: 1rem;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--purple-color);
    background: var(--background-light);
    box-shadow: 
        -7px -7px 15px var(--neo-shadow-light),
        7px 7px 15px var(--neo-shadow-inset-light);
    transition: var(--transition-duration);
}

.neo__menu-item:focus,
.hero__body-header .neo__menu-item:focus {
    outline: none;
    color: var(--purple-color);
    background: var(--background-light);
    font-weight: 600;
    box-shadow: 
        1px 1px 15px var(--neo-shadow-light), 
        7px 7px 15px var(--neo-shadow-inset-light), 
        inset -2px -2px 2px var(--neo-shadow-light), 
        inset 2px 0px 8px 4px var(--neo-shadow-inset-light) !important;
}

.hero__body-main,
.stats__header {
    display: flex;
    flex-wrap: nowrap;
}

.hero__body-main--left {
    flex: 1;
}

.hero__body-main--left img {
    width: 80%;
}

.hero__body-main--right {
    flex: 1;
}

.stats__header {
    color: var(--light-gray-color);
    justify-content: space-between;
}

.stats__header .stats__header-text,
.stats__header .stats__header-percentage {
    font-weight: 700;
}

.stats__body {
    display: flex;
    flex-direction: column;
}

.stats__indicator {
    height: 10px;
    border-radius: 3rem;
    position: relative;
    background: var(--background-light);
    box-shadow: 
        1px 1px 15px var(--neo-shadow-light), 
        7px 7px 15px var(--neo-shadow-inset-light), 
        inset -2px -2px 2px var(--neo-shadow-light), 
        inset 2px 0px 8px 4px var(--neo-shadow-inset-light) !important;
}

.stats__indicator::before {
    content: "";
    height: 90%;
    position: absolute;
    border-radius: 3rem;
    box-shadow: 
        1px 1px 15px var(--neo-shadow-light), 
        1px 1px 5px 0px limegreen;
}

.stats__indicator--green::before {
    width: 90%;
    background: limegreen;
    box-shadow: 
        1px 1px 15px var(--neo-shadow-light), 
        1px 1px 5px 0px limegreen;
}

.stats__indicator--orange::before {
    width: 60%;
    background: orange;
    box-shadow: 
        1px 1px 15px var(--neo-shadow-light), 
        1px 1px 5px 0px orange;
}

.stats__info {
    font-size: .8rem;
    margin-top: 1rem;
}

.neo__menu-item:hover {
    color: var(--background-light);
    background: var(--purple-color);
}

.neo__menu-item:hover + .neo__menu-item {
    box-shadow: 
        -7px -7px 15px rgba(255, 255, 255, 0), 
        7px 7px 15px var(--neo-shadow-inset-light)!important;
}

.neo__menu-item:hover .hero__money-button--icon {
    color: var(--purple-color);
}

.neo__menu-item--fixed {
    height: 6rem;
    width: 6rem;
}

.neo__menu--name {
    margin-top: .5rem;
    font-variant: all-small-caps;
}